<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>角色修改</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


<form action="/role/update" method="post">
    <input type="hidden" th:value="${role.r.roleId}" name="roleId">
    <label>角色名</label>
    <input type="text" class="form-control" name="roleName" th:value="${role.r.roleName}">
    <label>角色参数</label>
    <input type="text" class="form-control" name="roleParam" th:value="${role.r.roleParam}">
    <span style="color: red" th:text="${info}"></span>
    <button type="submit" class="btn btn-success btn-sm">修改</button>

</form>
</body>
</html>